<div class="book-data notice">
  <p class="book-text">Email: <b>{{newBook.email}}</b></p>
  <p class="book-text">Mobile: <b>{{newBook.phone}}</b></p>
  <p class="book-text">Enrolled student: <b>{{if newBook.isEnrolled "Yes" "No"}}</b></p>
</div>