<div class="book-form-wrapper">
    <div class="book-form">
        <p class="book-text">
            <b>Contact email (parent / guardian)</b>
            <span class="required">*</span>
        </p>
        {{input 
          type="email" 
          class=(if isWrongEmailEntered "input error" "input") 
          placeholder="Enter your email..."
          input=(action "onChangeEmail")
          value=email
        }}
        
        <p class="book-text">
            <b>Mobile number (parent / guardian)</b>
            <span class="required">*</span>
        </p>
        {{input 
          type="tel"
          class=(if isWrongPhoneEntered "input error" "input")
          placeholder="(XXX) XXX-XXXX"
          input=(action "onChangePhone") 
          value=phone
        }}
        
        <p class="book-text">
            <b>Is the child an enrolled student at this school?</b>
            <span class="required">*</span>
        </p>
        <label {{action "onChangeRole" "No"}} class="radio-wrap">No
            <input 
              type="radio"
              name="role"
              checked={{if isEnrolled false "checked"}}
              value="No"
            >
            <span class="radio"></span>
        </label>

        <label {{action "onChangeRole" "Yes"}} class="radio-wrap">Yes
            <input 
              type="radio"
              name="role"
              checked={{if isEnrolled "checked" false}}
              value="Yes"
            >
            <span class="radio"></span>
        </label>
        
    </div>
    <div class="book-grp">
        <p class="book-text notice">
            <b>Care registration forma:</b>
            completed registration forma must be on file with the center no later than the day of your care reservation.
            Forms are directly accessible through the
            <a class="profile-link" href="#" target="_blank" rel="noopener">child's Gospacey profile</a>
        </p>

        <div class="book-btngrp">
            <button class="btn btn-back" {{action this.attrs.changeStep 1}}>back</button>
            <button 
              class="btn btn-go {{if isNotDataCorrect "btn-disabled"}}"
              disabled={{isNotDataCorrect}}
              {{action this.attrs.changeStep 3 email phone isEnrolled}}
            >
              book care
            </button>
        </div>
    </div>
</div>


