<div class="modal-overlay">
    <div class="modal-wrap">
        <div class="modal-container">
            <div class="modal-head">
                <p class="modal-head-text">{{header}}</p>
                <button class="close" {{action this.attrs.toggleModal}}>X</button>
            </div>
            <div class="modal-content">
                {{#if (compare stepNumber "===" 1) }}
                    <button class="btn btn-mobile" {{action "changeStep" 2}}>book care</button>
                {{/if}}
                {{#if (compare stepNumber "===" 2) }}
                    {{book-form changeStep=(action "changeStep")}}
                {{/if}}
                {{#if (compare stepNumber "===" 3) }}
                    {{book-result newBook=newBook}}
                {{/if}}
            </div>
        </div>
    </div>
</div>