@import "reset.css";
@import "buttons.css";
@import "modal.css";
@import "media.css";
@import "book.css";

main {
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    outline: 0;
    width: 3em;
    height: 3em;
    cursor: pointer;
}

.input {
    outline: none;
    border: 0;
    border-bottom: 1px solid gray;
    font-size: 1em;
    padding: 5px;
    min-width: 30%;
}

.error {
    border-bottom: 1px solid red;
}

.required {
    color: red;
}

.notice {
  background-color: #f2f2f2;
  text-align: justify;
  padding: 10px!important;
  border: 1px solid gray;
  margin: 10px 0;
}

.profile-link {
    color: orange;
}

.radio-wrap {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .radio-wrap input {
    position: absolute;
    opacity: 0;
  }
  
  .radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .radio-wrap:hover input~.radio {
    background-color: #ccc;
  }
  
  .radio-wrap input:checked~.radio {
    background-color: #2196F3;
  }
  
  .radio:after {
    content: "";
    position: absolute;
    display: none;
  }