.btn {
  background-color: #575fc4;
  color: white;
  text-transform: uppercase;
  padding: 10px 40px;
  font-size: 2em;
  cursor: pointer;
  outline: none;
}

.btn-back {
  background-color: #fff;
  color: #bb97c5;
  border: 2px solid #bb97c5;
  font-size: 1em;
}

.btn-go {
  background-color: #00b666;
  border: 2px solid #2f8564;
  font-size: 1em;
}

.btn-disabled {
  opacity: .5;
}