@media screen and (max-width: 420px) {
  .notice {
    padding: 10px !important;
  }

  .modal-container {
    width: 100vw;
    height: 100vh;
  }

  .book-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
  }

  .btn-mobile {
    margin-top: 35vh;
  }

  .btn-back,
  .btn-go {
    font-size: 1.3em !important;
    padding: 7px 20px;
  }

  .input {
    width: 100%;
    font-size: 1.2em !important;
  }

  .book-text {
    font-size: 1.2em !important;
    padding: 20px 0 !important;
  }
}