.modal-overlay {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-container {
  width: 75vw;
  background-color: #fff;
  color: #000;
}

.modal-content {
  text-align: center;
  padding: 20px;
}

.modal-head {
  padding: 5px;
}

.modal-head-text {
  background-color: #7e7e7e;
  max-width: 40%;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 10px;
}